body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


h1, h2 {
    text-align: center;
    color: #2c3e50;
}

.header-bar {
    width: 120px;
    height: 4px;
    background-color: #2c3e50;
    margin: 10px auto 20px auto;
    border-radius: 10px;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

.nav-menu {
    list-style: none;
    padding: 0;
}

.nav-menu li {
    display: inline-block;
    margin: 0 15px;
}

.nav-menu a {
    text-decoration: none;
    font-size: 18px;
    color: #2c3e50;
}

section {
    margin: 20px;
    padding: 15px;
    background: #ffffff;
    border-radius: 8px;
}

#about p, #projects p {
    text-align: center;
}

.card {
    width: 320px;
    margin: auto;
}


input, textarea, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #2c3e50;
    color: #ffffff;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #1a242f;
}
